body{
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url('../images/presence-ii.png');
}
textarea{
  resize: none;
  overflow: hidden;
}

.usertextarea {
  font: italic bold 30px Georgia, serif;
}

.container {
  color: black;
}
